version: '3.8'

services:
  githuber:
    build: ./githuber
    environment:
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      GITHUB_REPO_OWNER: ${GITHUB_REPO_OWNER}
      GITHUB_REPO_NAME: ${GITHUB_REPO_NAME}
      GITHUB_REPO_FOLDER: ${GITHUB_REPO_FOLDER}

  server:
    build: ./server
    environment:
      GITHUBER_SERVICE_URL: http://githuber:3000

  client:
    build: ./client
    environment:
      NODE_ENV: production

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - githuber
      - server
      - client
